<h1>tests</h1>
<div class="row">
    <!--{{#each tests}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                  {{#if user}} -->
                  <!-- here we use 3ple {} because we want to interpret the html (parse) -->
                    <!--{{{editIcon user.id ../user.id id}}}
                  {{/if}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5> -->
                    <!--truncate refers to the functions from helpters and we pass 2 arguments instread of () we use spaces. --> 
                    <!--<p class="story-text">{{stripTag (truncate body 150)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}">
                        <a href="/tests/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <div class="btn grey" href="/tests/show/{{id}}">Read more</div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No tests found</p>
    {{/each}}-->
</div>
